@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rancho&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #1688A1;
}
p,
a {
    color: #FFF;
    font-family: "Montserrat";
}
h1 {
    font-family: "Rancho";
    font-size: 88px;
    margin: 16px 0;
    color: #1C1C1C;
}
hr {
    width: 70%;
    color: #FFF;
    border: 0.5px solid #FFF;
}
.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
    .logo-pajoot {
        width: 100%;
    }
    .entry-credentials {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        border-radius: 4px;
        padding: 16px;
        height: fit-content;
        width: 360px;
        margin: 16px;
        .form-login {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            .form-login_input {
                font-size: 18px;
                color: #1C1C1C;
                padding: 16px 10px;
                background-color: #DCDCDC;
                border: none;
                border-radius: 4px;
                width: 100%;
                box-shadow: inset 0 0 4px 1px #a0a0a0;
                &:focus-visible {
                    outline: none;
                }
            }
            .form-login_button {
                font-size: 20px;
                font-weight: 500;
                color: #FFF;
                padding: 16px 10px;
                border-radius: 4px;
                background-color: #1688A1;
                border-style: none;
                border-color: #037189;
                box-shadow: 2px 2px 2px 0 #003946;
                width: 100%;
                cursor: pointer;
                &:active {
                    box-shadow: inset 1px 1px 2px 2px #015669;
                }
                &:disabled {
                    color: #3b3b3b;
                }
            }
        }
        .form-verify {
            p {
                margin-bottom: 0;
            }
            div {
                gap: 8px;
            }
            .form-verify_input {
                height: 48px;
                width: 36px!important;
                background-color: #FFF;
                color: #1C1C1C;
                font-family: 'Montserrat';
                font-size: 20px;
            }
            .form-verify_countdown {
                font-size: 20px;
                color:#1C1C1C;
            }
            .form-verify_button {
                width: 80%;
                color: #FFF;
                font-weight: 500;
            }
        }
        .form-create {
            p {
                margin: 0;
            }
        }
        
    }
    .register-text {
        margin: 0;
    }
    .register-new {
        position: relative;
        font-weight: 700;
        color: #FFF;
        font-size: 18px;
        line-height: 150%;
        margin: 0 0 16px 0;
        text-decoration: none;
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 3px;
            background-color: #FFF;
            transition: width 0.3s ease;
            transform: translateX(-50%);
        }
        &:hover {
            color: #FFF;
        }
        &:hover::before {
            width: 100%;
        }
    }
    .login-google {
        background-color: #FFF;
        padding: 12px;
        display: flex;
        border-radius: 4px;
        width: 160px;
        margin-top: 16px;
        box-shadow: 2px 2px 2px 0 #575757;
        &:active {
            box-shadow: inset 1px 1px 2px 2px #575757;
            padding: 13px;
        }
        img {
            height: auto;
            width: 70%;
            margin: auto;
        }
    }
    p {
        font-size: 18px;
        margin: 8px;
        line-height: 150%;
    }
    .login-anonim {
        position: relative;
        font-weight: 700;
        color: #FFF;
        font-size: 18px;
        line-height: 150%;
        margin: 0 0 16px 0;
        text-decoration: none;
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 3px;
            background-color: #FFF;
            transition: width 0.3s ease;
            transform: translateX(-50%);
        }
        &:hover {
            color: #FFF;
        }
        &:hover::before {
            width: 100%;
        }
    }
}
.new-register {
    .entry-credentials .form-login {
        p {
            color: #1C1C1C;
            text-align: left;
            line-height: 150%;
        }
        .regex-contr {
            font-size: 13px;
            line-height: 10%;
        }
        .form-register_input,
        .form-register_button {
            width: 80%;
        }
        .form-register_button {
            color: #FFF;
            font-weight: 500;
        }
    }
}
.create-register .entry-credentials{
    .form-login {
        align-items: flex-start;
    }
}
.not-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    .not-info {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        .not-content {
            height: fit-content;
            h1 {
                font-size: 111px;
            }
            p {
            color: #1C1C1C;
            font-size: 18px;
            }
            p:nth-child(3) {
                text-align: left;
                margin-bottom: 0;
            }
        }
    }
    .not-button {
        font-size: 20px;
        font-weight: 600;
        color: #1C1C1C;
        padding: 16px 10px;
        border: 1px solid #1688A1;
        border-radius: 4px;
        background-color:#037189;
        box-shadow: 2px 2px 2px 0 #003946;
        width: 30%;
        max-width: 230px;
        cursor: pointer;
        &:active {
            box-shadow: inset 1px 1px 2px 2px #015669;
        }
    }
}